{% extends 'CmfBlockBundle:Block:block_base.html.twig' %}
{% block block %}

    {% if block.title %}
	    <div class="content-block-title">
	        <h2>{{ block.title|raw }}</h2>
	    </div>
    {% endif %}

	<div class="content-block-content">
	    <div class="content-block-body" style="overflow:hidden;">
		    <div class="news-overview">

			    {% for newsItem in newsItems %}
			    	<div class="news-overview-row">
			    		{% if newsItem[1] %}
			    			{{ newsItem[1] }}
			    		{% else %}
			    			{% trans %}label.no_title{% endtrans %}
			    		{% endif %}
			    		{% if newsItem[3] %}
			    			<div class="date">
			    				{{ newsItem[3] }}
			    			</div>
			    		{% endif %}
				    </div>
	            {% else %}
	            	{% trans %}label.no_data{% endtrans %}
	            {% endfor %}

		    </div>
	    </div>
    </div>
{% endblock %}