{# @todo - make this html.twig the default footer instead of static one on layout.html.twig #}
{% block footer %}
    <ul>
        <li>Copyright &copy; Connect Holland</li>
        <li>Algemene voorwaarden</li>
        <li>Privacy statement</li>
        <li><a href="http://www.werkenbijconnectholland.nl">Werkenbijconnectholland.nl</a></li>
    </ul>
{% endblock %}